{% extends 'base.html' %}
{% block title %}Productos{% endblock %}
{% block content %}
<div class="">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Productos</h2>
            <a href="#" class="btn btn-primary float-right rounded-0" id="create-producto">Crear Producto</a>
            <div class="clearfix"></div>
          </div>
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} rounded-0" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Código</th>
                    <th class="column-title">Imagen</th>
                    <th class="column-title">Descripción</th>
                    <th class="column-title">Existencia</th>
                    <th class="column-title">Fecha modificación</th>
                    <th class="column-title">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.codigo }}</td>
                        <td><img src="{{ producto.image.url }}" alt="" class="img-thumbnail" height="80px" width="80px"></td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.existencia }}</td>
                        <td>{{ producto.fecha_modificacion|date:"d/m/Y" }}</td>
                        <td style="font-size: 20px;" class="text-center">
                            <a href="#" class="update-producto" data-form-url="{% url 'producto_edit' producto.pk %}">
                                <i class="fas fa-edit text-warning fa-sm" title="Editar"></i>
                            </a>
                            <a href="{% url 'producto_inactivar' producto.pk %}">
                            {% if producto.estado is True %}
                            <i class="fas fa-toggle-on text-success fa-sm" title="Inactivar"></i>
                            {% else %}
                            <i class="fas fa-toggle-off text-danger fa-sm" title="Activar"></i>
                            {% endif %}
                            </a>
                            <a href="{% url 'salida_new' producto.pk %}">
                              <i class="fas fa-bullhorn text-danger fa-sm" title="Editar"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}
{% block js %}
<script type="text/javascript">
  $(function () {
    $("#create-producto").modalForm({
        formURL: "{% url 'producto_new' %}"
    });

    $(".update-producto").each(function () {
        $(this).modalForm({formURL: $(this).data('form-url')});
    });
  });
</script>
{% endblock js%}