{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="icon" href="#" type="image/ico" />

    <title>{% block title %}Strong Inventory{% endblock title %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <!-- Datatable css -->
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="{% static 'build/css/custom.min.css' %}" rel="stylesheet">
    <!-- bootstrap-touchspin -->
    <link rel="stylesheet" href="{% static 'bootstrap-touchspin/jquery.bootstrap-touchspin.css' %}">
    <!-- Jquery-confirm -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <!-- Jquery-ui -->
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">

    <style>
      .asteriskField {
          display: none;
      }
    </style>
    {% block css %}
    {% endblock css %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title">
              <a href="/" class="site_title"><i class="fa fa-laugh-squint"></i> <span>Strong Inventory</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{% static 'images/img.jpg' %}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>{{ user.first_name|title }} {{ user.last_name|title }}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a href="{% url 'index' %}"><i class="fa fa-home"></i>Inicio</a></li>
                  <li><a href="{% url 'categoria_list' %}"><i class="fa fa-align-left"></i>Categorías</a></li>
                  <li><a href="{% url 'marca_list' %}"><i class="fa fa-layer-group"></i>Marcas</a></li>
                  <li><a href="{% url 'producto_list' %}"><i class="fa fa-align-justify"></i>Productos</a></li>
                  <li><a href="{% url 'proveedor_list' %}"><i class="fa fa-users"></i>Proveedores</a></li>
                  <li><a href="#"><i class="fa fa-layer-group"></i>Movimientos<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{% url 'ingreso_list' %}">Entradas</a></li>
                      <li><a href="#">Salidas</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% if user.profile %}{{ user.profile.image.url }}{% else %}/media/user.jpg{% endif %}" alt="">{{ user.first_name|title }} {{ user.last_name|title }}</a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="{% url 'profile' %}">Perfil</a>
                    <a class="dropdown-item"  href="{% url 'change' %}">Cambiar contraseña</a>
                    <a class="dropdown-item"  href="{% url 'logout' %}">
                      <span class="mr-1">Cerrar Sesion</span>
                      <i class="fa fa-sign-out"></i>
                    </a>
                    
                  </div>
                </li>

                <li role="presentation" class="nav-item dropdown open">
                  <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="{% static 'images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="{% static 'images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="{% static 'images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="{% static 'images/img.jpg' %}" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <div class="text-center">
                        <a class="dropdown-item">
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          {% block content %}
          {% endblock content %}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Strong Inventory. Todos Los Derechos Reservados © 2020</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    <!-- Modal Bootstrap -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0"></div>
      </div>
    </div>

    <!-- Jquery-ui -->
    <script src="{% static 'jquery-ui/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'nprogress/nprogress.js' %}"></script>
    <!-- Chart.js -->
    <script src="{% static 'Chart.js/dist/Chart.min.js' %}"></script>
    <!-- gauge.js -->
    <script src="{% static 'gauge.js/dist/gauge.min.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'iCheck/icheck.min.js' %}"></script>
    <!-- Skycons -->
    <script src="{% static 'skycons/skycons.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'Flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'Flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'Flot/jquery.flot.resize.js' %}"></script>
    <!-- Flot plugins -->
    <script src="{% static 'flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
    <script src="{% static 'flot-spline/js/jquery.flot.spline.min.js' %}"></script>
    <script src="{% static 'flot.curvedlines/curvedLines.js' %}"></script>
    <!-- DateJS -->
    <script src="{% static 'DateJS/build/date.js' %}"></script>
    <!-- JQVMap -->
    <script src="{% static 'jqvmap/dist/jquery.vmap.js' %}"></script>
    <script src="{% static 'jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js' %}"></script>
    <!-- Jquery-confirm -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Datatable -->
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'DataTables/datatables.es.js' %}"></script>
    <!-- TouchSpin -->
    <script src="{% static 'bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9f4912486a.js" crossorigin="anonymous"></script>
    <!-- Django Modal Bootstrap -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    {{ form.media }}
    <script>
      $(document).ready(function () {
          $('.table').DataTable();
          setTimeout(function() {
              $(".alert").fadeOut();           
          },5000);
      });
    </script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
