{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Inicio de Sesión</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'images/home.ico' %}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!--===============================================================================================-->
</head>

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" method="POST" autocomplete="off">
          {% csrf_token %}
          
          <span class="login100-form-title p-b-26">
            Bienvenido
          </span>
          <p class="text-center text-danger">
          {% if form.errors %}
            {% if form.non_field_errors  %}
              {% for error in form.non_field_errors %}
                {{ error|escape }}
              {% endfor %}
            {% endif %}
          {% endif %}
          
          </p>
          <p class="text-center text-success mb-2">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </p>
          <div class="wrap-input100 validate-input" data-validate="Email valido: a@b.c">
            <input class="input100" type="text" name="username">
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Ingrese contraseña">
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="password" name="password">
            <span class="focus-input100" data-placeholder="Contraseña"></span>
          </div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button type="submit" class="login100-form-btn">
                Login
              </button>
            </div>
          </div>
          <div class="text-center p-t-20">
            <span class="txt1 mr-1">¿No tienes una cuenta?</span><a class="txt2" href="{% url 'register' %}">Registrate</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--===============================================================================================-->
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'build/js/main.js' %}"></script>

</body>

</html>