{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registro</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'images/home.ico' %}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!--===============================================================================================-->
</head>

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" method="POST" autocomplete="off">
          {% csrf_token %}
          <span class="login100-form-title p-b-26">
            Registro
          </span>
          {% if form.errors %}
          <p class="text-center text-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                {{ error|escape }}
            {% endfor %}
          </p>
          {% endif %}
          <div class="form-row">
            <div class="wrap-input100" >
                {{form.first_name}}
              <span class="focus-input100" data-placeholder="{{form.first_name.label}}"></span>
            </div>
            <div class="wrap-input100" >
                {{form.last_name}}
              <span class="focus-input100" data-placeholder="{{form.last_name.label}}"></span>
            </div>
            
          </div>
          <div class="form-row">
            <div class="wrap-input100" >
                {{form.username}}
              <span class="focus-input100" data-placeholder="{{form.username.label}}"></span>
            </div>
            <div class="wrap-input100" >
                {{form.email}}
              <span class="focus-input100" data-placeholder="{{form.email.label}}"></span>
            </div>
          </div>
          <div class="form-row">
            <div class="wrap-input100">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                {{form.password1}}
              <span class="focus-input100" data-placeholder="{{form.password1.label}}"></span>
            </div>
            <div class="wrap-input100" >
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                {{form.password2}}
              <span class="focus-input100" data-placeholder="{{form.password2.label}}"></span>
            </div>
          </div>
          
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button type="submit" class="login100-form-btn">
                SIGN UP
              </button>
            </div>
          </div>
          <div class="text-center p-t-20">
            <span class="txt1 mr-1">¿Ya tienes una cuenta?</span><a class="txt2" href="{% url 'login' %}">Inicia Sesión</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--===============================================================================================-->
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'build/js/main.js' %}"></script>

</body>

</html>