{% extends 'base.html' %}
{% block content %}
<div class="">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Listado de Ingresos</h2>
                <a href="{% url 'ingreso_new' %}" class="btn btn-primary float-right rounded-0" id="create-categoria">Crear Ingreso</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">#</th>
                                <th class="column-title">Proveedor</th>
                                <th class="column-title">Fecha Ingreso</th>
                                <th class="column-title">Creado por</th>
                                <th class="column-title">Acciones</th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ingreso in ingresos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ ingreso.proveedor.nombres|title }}</td>
                                <td>{{ ingreso.fecha_ingreso }}</td>
                                <td>{{ ingreso.usuario_creacion.first_name|title }} {{ ingreso.usuario_creacion.last_name|title }}</td>
                                <td>
                                    <button type="button" id="read-ingreso" class="bs-modal btn btn-sm btn-success rounded-0"
                                        data-form-url="{% url 'ingreso_detail' ingreso.pk %}">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <a href="{% url 'ingreso_edit' ingreso.pk %}" class="btn btn-warning btn-sm rounded-0"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <button type="button" id="delete-ingreso" class="bs-modal btn btn-sm btn-danger rounded-0"
                                        data-form-url="{% url 'ingreso_delete' ingreso.pk %}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
    $(".bs-modal").each(function () {
        $(this).modalForm({
            formURL: $(this).data('form-url')
        });
    });
</script>
{% endblock js %}