{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/png" href="{% static 'images/home.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>Nueva Contraseña</title>
</head>

<body>
    <div class="container-fluid">
        <h1>Escriba la nueva contraseña</h1>
        <p>Por favor, ingrese su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-row">
                <div class="col-4 offset-4">
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                <i class="fa fa-check mr-1" aria-hidden="true"></i>Cambiar mi contraseña
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <!-- Jquery-confirm -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!--===============================================================================================-->
    <script src="{% static 'bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'build/js/main.js' %}"></script>
</body>

</html>