{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restablecer Contraseña</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'images/home.ico' %}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!--===============================================================================================-->
  <!-- Jquery-confirm -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <style>
    .asteriskField {
          display: none;
    }
  </style>
</head>
<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <span class="login100-form-title p-b-26">
            Restablecer Contraseña
        </span>
        {% if form.errors %}
          <p class="text-center text-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                {{ error|escape }}
            {% endfor %}
          </p>
        {% endif %}
        <form class="login100-form validate-form" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="form-row">
            <div class="wrap-input100 validate-input" data-validate="Email valido: a@b.c">
                <input class="input100" type="email" name="email" id="id_email" autofocus>
                <span class="focus-input100" data-placeholder="Email"></span>
              </div>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button type="submit" class="login100-form-btn">
                <i class="fa fa-paper-plane mr-1" aria-hidden="true"></i>Enviar
              </button>
            </div>
          </div>
          <div class="text-center p-t-20">
            <a class="txt2" href="{% url 'login' %}"><i class="fa fa-undo mr-1" aria-hidden="true"></i>VOLVER</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--===============================================================================================-->
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <!-- Jquery-confirm -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  <!--===============================================================================================-->
  <script src="{% static 'bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'build/js/main.js' %}"></script>
</body>
</html>