{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<div class="">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Cambio de Contraseña</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form method="POST">
              {% csrf_token %}
              Ingrese su contraseña anterior, por razones de seguridad, y luego ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente.
              {{ form|crispy }}
              <button type="submit" class="btn btn-success rounded-0"><i class="fa fa-check mr-1" aria-hidden="true"></i>Cambiar</button>
              <a href="{% url 'index' %}" class="btn btn-danger rounded-0"><i class="fa fa-times mr-1" aria-hidden="true"></i>Volver</a>
            </form>
          </div>
        </div>
      </div>
</div>
{% endblock content %}