{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restablecimiento de contraseña completado</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'images/home.ico' %}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!--===============================================================================================-->
</head>

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <span class="login100-form-title p-b-26">
            Restablecimiento de contraseña completado
          </span>
        <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <a href="{% url 'login' %}" class="login100-form-btn">
                <i class="fa fa-sign-in mr-1" aria-hidden="true"></i>Iniciar Sesión
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--===============================================================================================-->
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'build/js/main.js' %}"></script>

</body>

</html>