{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restablecer Contraseña</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="{% static 'images/home.ico' %}" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <!--===============================================================================================-->
</head>

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <span class="login100-form-title p-b-26">
            Restablecimiento de contraseña enviado
          </span>
        <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
        </p>
        <br>
        <p>
        Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
        <div class="text-center p-t-20">
            <a class="txt2" href="{% url 'login' %}"><i class="fa fa-undo mr-1" aria-hidden="true"></i>VOLVER</a>
        </div>
      </div>
    </div>
  </div>
  <!--===============================================================================================-->
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'build/js/main.js' %}"></script>

</body>

</html>